[submodule "alphahouse"]
	path = alphahouse
	url = https://github.com/AlphaGenes/alphahouse.git
[submodule "alphacmakefiles"]
	path = alphacmakefiles
  url = https://github.com/AlphaGenes/alphacmakefiles.git
[submodule "alphaphase"]
	path = alphaphase
	url = https://github.com/AlphaGenes/alphaphase.git
[submodule "alphapeel"]
	path = alphapeel
	url = https://github.com/AlphaGenes/alphapeel.git
[submodule "alphahmm"]
	path = alphahmm
	url = https://github.com/AlphaGenes/alphahmm.git
[submodule "ferdosi"]
	path = ferdosi
	url = https://github.com/AlphaGenes/ferdosi.git
[submodule "alphaimpute-docs"]
	path = alphaimpute-docs
	url = https://github.com/AlphaGenes/alphaimpute-docs.git
