CMakeFiles/
cmake_install.cmake
objs/
bin/
*.exe
*.txt
*.mod
*.o
*.obj
*.i90
*.dwarf
*.F90
AlphaImpute
AlphaImpute_*
AlphaImpute1*
AlphaImpute*v*
GeneProbForAlphaImpute
proj*
penmp
hmmErrors.f90
nbproject
.cproject
.project
eclipse.inc
