CMakeFiles/
CMakeCache.txt
cmake_install.cmake
objs/
bin/
*.exe
*.mod
*.o
*.obj
*.i90
*.dwarf
AlphaImpute_*
AlphaImpute1*
GeneProbForAlphaImpute
proj*
penmp
nbproject
.cproject
.project
eclipse.inc
MakeFile
compile_commands.json
